<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/myPageLayout}"
        lang="en"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="/css/baseStyle.css"
            th:href="@{/css/baseStyle.css}"
    />

    <link
            rel="stylesheet"
            href="/css/myHeader.css"
            th:href="@{/css/myHeader.css/css/myHeader.css}"
    />
    <script
            src="https://kit.fontawesome.com/7abcd14278.js"
            crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap" rel="stylesheet">

    <!--  구글 아이콘 땡겨쓰기-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>SLIPPER</title>
</head>


<div layout:fragment="content">

    <div class="myPageContent">
        <label for="utId">
            <h4>아이디</h4>
            <p th:text="${userInfo.userId}"></p>
        </label>
        <label for="utId">
            <h4>닉네임</h4>
            <p></p>
        </label>
        <label for="utId">
            <h4>생일</h4>
            <p></p>
        </label>
        <label for="utId">
            <h4>이름</h4>
            <p></p>
        </label>
        <label for="utId">
            <h4>지역</h4>
            <p></p>
        </label>
        <label for="utId">
            <h4>연락처</h4>
            <p></p>
        </label>

        <button type="submit" value="변경하기">변경하기</button>
        <button type="submit" value="비밀번호 변경하기">비밀번호 변경하기</button>
    </div>
</div>

</html>
