<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/myPageLayout}"
        lang="en"
>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/myPage.css" th:href="@{/css/myPage.css}">
    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/myPage.css" > -->

    <!--    비밀번호 변경 팝업창 펑션-->
    <script type="text/javascript">
        window.onload = function(){
       document.getElementById("edit").onclick = function(){
           window.open("/myPage/password_edit","","width=700px,height=500px,top=200px,left=200px;");
       }
   };


    </script>
</head>


<div layout:fragment="content">
    <div class="container">


        <div class="mpWrapper">
            <h2>마이 페이지</h2>
            <label for="utId">
                <h4>아이디</h4>
                <div class="information">
                    <p th:text="${userId}"></p>
                </div>
            </label>

            <label for="utId">
                <h4>닉네임</h4>
                <div class="information">
                    <p th:text="${nickName}"></p>

<!--                    <input type="text">-->
                </div>
            </label>

            <label for="utId">
                <div class="information">
                    <h4>생일</h4>
                    <p th:text="${birthDate}"></p>
                </div>
            </label>

            <label for="utId">
                <h4>이름</h4>
                <div class="information">
                    <p th:text="${name}"></p>
                </div>
            </label>

            <label for="utId">
                <h4>지역</h4>
                <div class="information">
                    <p th:text="${location}"></p>
                </div>
            </label>

            <label for="utId">
                <h4>연락처</h4>
                <div class="information">
                    <p th:text="${phone}"></p>
<!--                    <input type="text">-->
                </div>
            </label>

            <input type="submit" value="변경하기"></input>
            <input type="button" value="비밀번호 변경하기" id="edit">
        </div>
    </div>
</div>
</html>
