<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
        lang="en"
>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
          rel="stylesheet"
          href="/src/main/resources/static/css/baseStyle.css"
          th:href="@{/src/main/resources/static/css/baseStyle.css}"
  />
  <script
          src="https://kit.fontawesome.com/7abcd14278.js"
          crossorigin="anonymous"
  ></script>
  <title>SLIPPER</title>
</head>
  <body>
    <div th:fragment="footer">
      <footer>
        <div>
          <nav>
            <a href="#" >일반</a> |
            <a href="#" >모임</a> |
            <a href="#" >홍보</a> |
            <a href="#" >리뷰</a> |
            <a href="#" >마이페이지</a>
<!--            <a href="#" target="_blank">이마이페지</a> target = "_blank" - 새 창 띄우기-->
          </nav>
          <p>
            <span>상호명 : SLIPPER</span><br />
            <span>주소 : 부산광역시 부산진구 범천동 선문빌딩 5층 3강의실</span
            ><br />
            <span>Copyright 2023. SLIPPER. All Rights Reserved.</span>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
