<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
          rel="stylesheet"
          href="/css/baseStyle.css"
          th:href="@{/css/baseStyle.css}"
  />
  <script
          src="https://kit.fontawesome.com/7abcd14278.js"
          crossorigin="anonymous"
  ></script>
  <title>SLIPPER</title>
</head>
  <body>
    <div th:fragment="header">
      <section id="header">
        <div class="wrapper">
          <div class="title">
            <label for="logos">
              <a href="#"
                ><img
                  src="/src/main/resources/static/images/free-icon-flip-flops-5113451.png"
                  alt="홈페이지로고"
                  width="30px"
                  height="30px"
                />
                SLIPPER
              </a>
            </label>
          </div>

          <form method="get">
            <label for="search">
              <div class="search">
                <input type="text" />
                <button type="submit" value="Search" />
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </label>
          </form>
          <div class="log"><a href="#">Log In</a></div>
        </div>
        <div class="header_under">
          <ul class="lists">
            <li>
              <a href="#">일반</a>
            </li>
            <li>
              <a href="#">모임</a>
            </li>
            <li>
              <a href="#">홍보</a>
            </li>
            <li>
              <a href="#">리뷰</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </body>

  <script>
    $("#toggle").click(function () {
      $(".lists").toggle(400);
      $(".log").toggle(400);
    });
  </script>
</html>
