<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/myPageLayout}"
        lang="en"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="/css/baseStyle.css"
            th:href="@{/css/baseStyle.css}"
    />

    <link
            rel="stylesheet"
            href="/css/myPage.css"
            th:href="@{/css/myPage.css}"
    />

    <!--부트스트랩 스크립트-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
            crossorigin="anonymous"></script>

    <title>SLIPPER</title>


</head>

<div th:fragment="header">

    <div th:if="${id}">


        <div class="wrapper">
            <div class="title">
                <label th:for="logo">
                    <a href="/main"
                       style="color: white"
                    ><img
                            src="/images/slipperIcon.png"
                            alt="홈페이지로고"
                            width="30px"
                            height="30px"
                    />
                        SLIPPER
                    </a>
                </label>
            </div>

            <ul style="list-style:none; float:left;">
                <li style="float:left; font-size: 15px; justify-content: center; text-decoration-line: none;" ><a href="/myPage/main">[[${nickName}]]</a>님</li>
                <li style="float:left;">
                    <div class="note"><a style="color: white" href="/myPage/noteList"><img src="/images/note-icon.png"
                                                                                           style="height: 50px; width: 50px;  margin-right: 10px;"></a>
                    </div>
                </li>
                <li style="float:left;">
                    <div class="log"><a href="/logOut" style="color: white"><img src="/images/logout-icon.png"
                                                                                 style="height: 50px; width: 50px;"></a>
                    </div>
                </li>

            </ul>
        </div>
        <div class="header_under">
            <ul class="lists">
                <li>
                    <a href="#">일반</a>
                </li>
                <li>
                    <a href="/meeting/main">모임</a>
                </li>
                <li>
                    <a href="/promotion">홍보</a>
                </li>
                <li>
                    <a href="#">리뷰</a>
                </li>
            </ul>
        </div>

        <div class="side_wrap">
            <div class="side_header" style="color: #ffffff;">
                <a>마이페이지</a>
            </div>
            <div class="side_middle">
                <br>
                <a href="/myPage/main">내 정보</a>

                <ul><span><a href="#">내가 쓴 글</a></span>
                    <li>
                        <a href="#">일반</a>
                    </li>

                    <li>
                        <a href="#">모임</a>
                    </li>
                    <li>
                        <a href="#">홍보</a>
                    </li>
                    <li>
                        <a href="#">리뷰</a>
                    </li>
                </ul>
                <div>
                    <a href="/myPage/noteList">내 쪽지함</a>
                </div>
            </div>

            <label th:for="exit">
                <a href="#">회원 탈퇴</a>
            </label>
        </div>

    </div>

</div>


</html>
