/* 전체 패딩 마진 계산 없이 width, height 원하는대로 적용하기 위해 추가 */
* {
  box-sizing: border-box;
}

/* 헤더부분 */
#header {
  font-weight: bold;
  background-color: rgb(80, 80, 80);
  font-size: 30px;
  color: white;
}
/* 헤더 아래 회색부분 */
.header_under {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: rgb(249, 248, 252);
}
.wrapper {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* a 링크 밑줄 삭제 */
a {
  text-decoration-line: none;
}

/* a 링크 마우스 오버 시 적용됨 */
a:hover {
  text-decoration-color: #ffffff;
  text-decoration-thickness: 5px;
}

/* 슬리퍼 아이콘 */
#icon {
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  background: url(/src/main/resources/static/images/free-icon-flip-flops-5113451.png);
}

/* 여기서부터 헤더 메뉴부분 */
.lists {
  display: flex;
  margin: 0 auto;
}

/* 헤더 중 메뉴 부분 */
.lists li {
  margin-right: 20px;
  list-style: none;
  float: left;
  margin: 10px 120px 10px 120px;
  text-align: center;
  font-size: 30px;
}

.title {
  font-size: 40px;
  margin-left: 30px;
}
.log {
  margin-right: 30px;
}

#toggle {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
  font-size: 40px;
  display: none;
}
/* // 화면이 작아졌을 때 목록을 보기위한 버튼 생성 none 으로 숨겨두기!! */

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .lists {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .lists li {
    padding: 5px 15px;
    font-size: 15px;
  }
  .log {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-left: 30px;
  }
  #toggle {
    display: block;
  }
}

/* 푸터 */

footer {
  width: 100%;
  height: 90px;
  bottom: 0px;
  position: absolute;
  border-top: 1px solid #c4c4c4;
  padding-top: 15px;
  color: #808080;
  font-size: 11px;
  background-color: #353535;
  text-align: center;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #808080;
  font-size: 11px;
}

footer a:visited {
  color: #808080;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

footer p span {
  display: inline-block;
  margin-left: 20px;
}
