/* 전체 패딩 마진 계산 없이 width, height 원하는대로 적용하기 위해 추가 */
* {
    box-sizing: border-box;

  }

  
  h1{

    margin-top: 300px;
    margin-left: 300px;
  }

.boxWrapper{
    display: inline-bock;
    width: 335px;
    height: 320px;
    background-color: rgb(181,181,181);
    margin: 0 auto;
    column-count :
}


.box1{


    width: 700px;
    height: 350px;
    background-color: rgb(181,181,181);
    margin: 0 auto;

}






.box2{


    width: 700px;
    height: 450px;
    background-color: rgb(181,181,181);
    margin: 0 auto;

}