<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}" lang="en">

<head>
    <link rel="stylesheet" href="../static/css/login,main,signup.css" th:href="@{/css/login,main,signup.css}">

</head>
<div layout:fragment="content">

    <div id="contains">

        <h2 class="text-white">LOGIN</h2>
        <p class="text-white-50 mt-2 mb-5">서비스를 사용하려면 로그인을 해주세요!</p>

        <div class="mb-2">
            <form action="/login" method="POST" >
                <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
                <div class="mb-3">
                    <label class="form-label text-white">아이디</label>
                    <input type="text" class="form-control" name="userId" th:field="*{user.userId}">
                </div>
                <div class="mb-3">
                    <label class="form-label text-white">비밀번호</label>
                    <input type="password" class="form-control" name="userPassword"  th:field="*{user.userPassword}">
                </div>
                <button type="submit" class="btn btn-primary">로그인</button>
            </form>
        </div>
            <a href="/signup" th:href="@{/signup}">회원가입</a>
       


    </div>

</div>



</html>