<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" lang="en">

<head>
    <link rel="stylesheet" href="/css/logInSignUp.css" th:href="@{/css/logInSignUp.css}">
    <meta charset="utf-8">
</head>

<div layout:fragment="content">

    <div id="contains">

        <div class="login-wrapper">
            <h2>Login</h2>
            <p style="text-align: center;">서비스를 사용하시려면 로그인을 해주세요!</p>
            <form th:method="POST" th:object="${loginRequest}" action="/login_proc" id="login-form">
                <label th:for="loginId" >로그인 아이디</label>
                    <input type="text" th:field="*{loginId}"
                           placeholder="ID" autocomplete="off" required>
                <label th:for="password">비밀번호</label>
                    <input type="password" th:field="*{password}"
                           placeholder="PASSWORD" required>

                <div th:if="${#fields.hasGlobalErrors()}">
                    <br>
                    <div class="error-class" th:each="error: ${#fields.globalErrors()}" th:text="${error}"></div>
                </div>
                <input type="submit" id="btn" value="Login">
            </form>
            <br/>
            <a href="#">아이디 |</a>
            <a href="#"> 비밀번호 찾기</a>

            <a href="/user_join" th:href="@{/user_join}">일반 회원가입 |</a>
            <a href="/entre_join" th:href="@{/entre_join}"> 사업자 회원가입</a>

        </div>

    </div>

</div>


</html>

<style>
    .error-class{
        color: red;
    }

    .error-input{
        border-color: red;
    }
</style>

