<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  lang="en"
>

<head>
<!--  <link rel="stylesheet" href="../static/css/login,main,signup.css" th:href="@{/css/login,main,signup.css}">-->
  <link rel="stylesheet" href="/css/login,main,signup.css" th:href="@{/css/login,main,signup.css}">
</head>

<body>
    <div layout:fragment="content">
        <h1>일반</h1>
        <div class="container">
          <div class="box1">
            <ul>
              <li><a href="#">글</a></li>
              
            </ul>
            
          </div>
          <h1>모임</h1>
          <div class="box1">
          </div>
        <h1>홍보</h1>
        <div class="box2">
        </div>
        </div>
        
    </div>


  </body>

</html>
