<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/logInSignUp.css" th:href="@{/css/logInSignUp.css}">

</head>

<!--사용자 css추가-->

<th:block layout:fragment="css">
    <style>
        .fieldError{
            color: #bd2130;
         }
    </style>
</th:block>

<!--사용자 스크립트 추가-->

<th:block layout:fragment="script">
    <script th:inline="javascript">
        // 지역 선택값 가져오기

        $("#userLocation").change(function () {

                });






        //에러메세지
        $(document).ready(function ()
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            });

    </script>
</th:block>


<div layout:fragment="content">

    <div id="contains">
        <div class="join-wrapper">


            <h2>사업자 회원 가입</h2>
            <p style="text-align: center; padding: 20px;">사업자 회원으로 가입합니다.</p>


            <form th:action="@{/entre_join}" method="POST" th:object="${entreDto}" id="join-form">



                    <label th:for="id">아이디</label>
                    <input type="text" th:field="*{id}" class="form-control" placeholder="아이디를 입력해 주세요.">
                    <p th:if="${#fields.hasErrors('id')}"
                       th:errors="*{id}" class="fieldError">Incorrect data</p>

                    <label th:for="password">비밀번호</label>
                    <input type="password" th:field="*{password}" class="form-control"
                           placeholder="비밀번호를 입력해 주세요.">
                    <p th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}" class="fieldError">Incorrect data</p>

                    <label th:for="passwordCheck">비밀번호 확인</label>
                    <input type="password" th:field="*{passwordCheck}" class="form-control"
                           placeholder="비밀번호를 한번 더 입력해 주세요.">
                    <p th:if="${#fields.hasErrors('passwordCheck')}"
                       th:errors="*{passwordCheck}" class="fieldError">Incorrect data</p>

                    <label th:for="entrepreName">이름</label>
                    <input type="text" th:field="*{entrepreName}" class="form-control"
                           placeholder="이름을 입력해 주세요.">
                    <p th:if="${#fields.hasErrors('entrepreName')}"
                       th:errors="*{entrepreName}" class="fieldError">Incorrect data</p>

                    <label th:for="entrepreBirthDate">생일</label>
                    <input type="date" th:field="*{entrepreBirthDate}" class="form-control"
                           placeholder="개업 일자를 선택해주세요." style="width: 400px;">
                    <p th:if="${#fields.hasErrors('entrepreBirthDate')}"
                       th:errors="*{entrepreBirthDate}" class="fieldError">Incorrect data</p>

                    <label th:for="entrepreLocation">
                    지역
                    <select id="entrepreLocation" name="entrepreLocation">
                        <option value="" selected>선택</option>
                        <option value="중구">중구</option>
                        <option value="서구">서구</option>
                        <option value="동구">동구</option>
                        <option value="영도구">영도구</option>
                        <option value="부산진구">부산진구</option>
                        <option value="동래구">동래구</option>
                        <option value="남구">남구</option>
                        <option value="북구">북구</option>
                        <option value="해운대구">해운대구</option>
                        <option value="사하구">사하구</option>
                        <option value="금정구">금정구</option>
                        <option value="강서구">강서구</option>
                        <option value="연제구">연제구</option>
                        <option value="수영구">수영구</option>
                        <option value="사상구">사상구</option>
                        <option value="기장군">기장군</option>
                    </select>
                    <input type="hidden" th:field="*{entrepreLocation}">
                    </label>

                    <label th:for="entreprePhone">연락처</label>
                    <input type="text" th:field="*{entreprePhone}" class="form-control"
                           placeholder="휴대폰 번호를 입력해주세요.">
                    <p th:if="${#fields.hasErrors('entreprePhone')}"
                       th:errors="*{entreprePhone}" class="fieldError">Incorrect data</p>

                    <label th:for="entrepreNickName">닉네임</label>
                    <input type="text" th:field="*{entrepreNickName}" class="form-control"
                           placeholder="닉네임을 입력해주세요.">
                    <p th:if="${#fields.hasErrors('entrepreNickName')}"
                       th:errors="*{entrepreNickName}" class="fieldError">Incorrect data</p>

                    <label th:for="entrepreRegNum">사업자 등록 번호</label>
                    <input type="text" th:field="*{entrepreRegNum}" class="form-control"
                           placeholder="사업자 등록 번호를 입력한 후 인증 하기를 눌러주세요." style="width: 400px;">
                    <p th:if="${#fields.hasErrors('entrepreRegNum')}"
                       th:errors="*{entrepreRegNum}" class="fieldError">Incorrect data</p>

                    <input type="button" value="인증하기" style="width: 150px;">

                    <br/>
                    <label th:for="entrepreBusinessName">상호명</label>
                    <input type="text" th:field="*{entrepreBusinessName}" class="form-control"
                           placeholder="상호명을 입력해주세요.">
                    <p th:if="${#fields.hasErrors('entrepreBusinessName')}"
                       th:errors="*{entrepreBusinessName}" class="fieldError">Incorrect data</p>

                    <label th:for="entrepreRegDay">개업일자</label>
                    <input type="date" th:field="*{entrepreRegDay}" class="form-control"
                           placeholder="개업 일자를 선택해주세요.">
                    <p th:if="${#fields.hasErrors('entrepreRegDay')}"
                       th:errors="*{entrepreRegDay}" class="fieldError">Incorrect data</p>

                    <label th:for="entrepreAddress">주소지</label>
                    <input type="text" th:field="*{entrepreAddress}" class="form-control"
                           placeholder="주소지를 입력해주세요.">
                    <p th:if="${#fields.hasErrors('entrepreAddress')}"
                       th:errors="*{entrepreAddress}" class="fieldError">Incorrect data</p>


                <div th:if="${#fields.hasGlobalErrors()}">
                    <br>
                    <div class="error-class" th:each="error: ${#fields.globalErrors()}" th:text="${error}"></div>
                </div>

                <input type="submit" value="회원가입" style="margin: 40px 0px 100px 0px;">
                <input type="button" onclick="location.href='/login'" value="돌아가기"
                       style="margin: 40px 0px 100px 0px; background-color: #FF6C6C;
                       border: none; cursor: pointer; color: #fff; font-weight: 500;">
            </form>

        </div>
    </div>
</div>


</html>


<!--<style>-->
<!--    .error-class{-->
<!--        color: red;-->
<!--    }-->

<!--    .error-input{-->
<!--        border-color: red;-->
<!--    }-->
<!--</style>-->
