<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
        lang="en"
>
<head>
    <meta charset="UTF-8">
    <style>
        td {
        border: 1px solid;
        }
    </style>
</head>

<div layout:fragment="content">
    <!--여기부터 작성하면 됩니다.--><!---->
    <div>
        <div><!--제목-->
            <h2 style="margin-left:5%;"><span id="categorySpan" th:text="${promotion.promoBrdCategory}" hidden></span>
                <script th:inline="javascript">
                    // 카테고리에 해당하는 숫자를 받으면 화면에 일반, 체험, 이벤트의 문자를 보여주는 스크립트.
                    var categoryText = "";
                    var promoBrdCategory = /*[[${promotion.promoBrdCategory}]]*/ 0; // 프로모션의 카테고리 값

                    switch (promoBrdCategory) {
                        case 0:
                            categoryText = "[일반]";
                            break;
                        case 1:
                            categoryText = "[체험]";
                            break;
                        case 2:
                            categoryText = "[이벤트]";
                            break;
                        default:
                            categoryText = "[기타]";
                    }

                    // Span 요소에 텍스트 설정
                    var categorySpan = document.getElementById("categorySpan");
                    categorySpan.innerText = categoryText + "게시판";

                    // Span 요소를 표시
                    categorySpan.removeAttribute("hidden");
                </script>
            </h2>
        </div>
    </div>
    <div style="width:100%; height:auto; display:flex; justify-content:center;">
        <div class="promo" style="width:90%; height:auto;">
            <!--홍보 컨텐츠-->
            <div class="row1"
                 style="font-size:24px; width:100%; height: 5%;display:flex; align-items:center;">
                <!--첫줄-->

                <div style="display:flex; width:100%;"><!--제목-->
                    <div style="margin-top: -10px;">
                        <button style="width: 80px; height:30px; margin-top:13px;">
                            <span id="categorySpan1" th:text="${promotion.promoBrdCategory}" hidden></span>
                            <script th:inline="javascript">
                                // 카테고리에 해당하는 숫자를 받으면 화면에 일반, 체험, 이벤트의 문자를 보여주는 스크립트.
                                var categoryText = "";
                                var promoBrdCategory = /*[[${promotion.promoBrdCategory}]]*/ 0;

                                switch (promoBrdCategory) {
                                    case 0:
                                        categoryText = "일반";
                                        break;
                                    case 1:
                                        categoryText = "체험";
                                        break;
                                    case 2:
                                        categoryText = "이벤트";
                                        break;
                                    default:
                                        categoryText = "기타";
                                }

                                var categorySpan = document.getElementById("categorySpan1");
                                categorySpan.innerText = categoryText;

                                categorySpan.removeAttribute("hidden");
                            </script>
                        </button>
                    </div>
                    <div style="width:200px;"><!--지역-->
                        <span th:text="${promotion.promoBrdRegion}"></span>
                    </div>
                    <div th:text="${promotion.promoBrdTitle}" style="width:70%"><!--제목-->
                        제목
                    </div>
                    <div style="width: 10%; margin-left:10px;"><!--조회-->
                        조회수
                    </div>
                    <div style="width: 10%; margin-left:20px;"><!--조회수-->
                        <span th:text="${promotion.promoBrdViewCount}">700</span>
                    </div>
                </div>
            </div><!--첫줄-->
            <hr>
            <div id="1">
                <div style="width: auto; height: 40px; display:block;"><!--공백줄-->

                </div>
            </div>
            <div><!--컨텐츠영역-->
                <div>
                    <div class="row2" style="display:flex; width:100%;">
                        <div class="sec_title_box" style="width: 70%;">상호명 : <span
                                th:text="${promotion.promoBrdBusinessName}"></span></div>

                        <div class="sec_title_box">지역 : <span th:text="${promotion.promoBrdRegion}"></span></div>
                    </div>
                    <hr>

                    <div style="width: auto; height: 40px; display:block;"><!--공백줄--></div>
                </div><!--컨텐츠영역-->

                <div><!--이미지영역-->
                    <h3><span th:text="${promotion.promoBrdBusinessName}"></span>리뷰 이벤트 합니다.</h3>
                    <div>
                        <span th:text="${promotion.promoBrdContent}"></span>
                    </div>
                    <div style="min-width: 150px; max-width: 60%; min-height: 100px; max-height: 40%; border: 1px solid; margin-left:20%;">
                        <img style="max-width:100%; height: auto;" th:src="${promotion.promoBrdMainImg}">
                    </div>
                </div><!--이미지영역-->

                <div style="display:flex;margin-top: 40px; margin-left: 70%;"><!--삭제/수정 버튼 영역-->
                    <div>
                        <a th:href="@{/promotion/genDelete/{Id}(Id=${promotion.promoBrdPostId})}">
                            <button type="reset" style="background-color: gray;">삭제</button>
                        </a>
                    </div>
                    <div>
                        <a th:href="@{/promotion/genEdit/{Id}(Id=${promotion.promoBrdPostId})}">
                            <button type="submit" style="background-color: blue;">수정</button>
                        </a>
                    </div>
                </div><!--삭제/수정 버튼 영역-->
            </div><!--홍보 컨텐츠-->
        </div>
    </div>
    <div style="width:100%; height:80px; display:flex; justify-content:center;">
        <div style="width:90%;"><!--전체 글 보기-->
            <div style="margin-left: 90%;margin-top: 2%;"><a th:href="@{/promotion}">
                <button type="button" style="">전체 글 보기</button>
            </a></div>
        </div><!--전체 글 보기-->
    </div>
    <div style="width:100%; height:65px; display:flex; justify-content:center;">
        <!--댓글-->
        <div style="width:90%;"><!--댓글 제목-->
            <div>
                <h3>댓글</h3>
            </div>
            <hr>
        </div><!--댓글 제목-->
    </div>
    <div style="width:100%; height:auto; display:flex; justify-content:center;">
        <div style="width:90%; height:auto;"><!--댓글 리스트-->
            <table style="width:100%;">
                <tr>
                    <th style="width: 15%; max-width: 15%; border:1px solid; text-align:center;">닉네임</th>
                    <th style="width: 55%; max-width: 55%; border:1px solid;">댓글 내용</th>
                    <th style="width: 6%; max-width: 6%; border:1px solid;">등록/삭제</th>
                    <th style="width: 24%; max-width: 24%; border:1px solid;">입력 날짜</th>
                </tr>
                <tr th:each="proComnt : ${proComnt}"> <!-- 댓글 리스트 보여주는 row -->
                    <td ><span th:text="${proComnt.userNickName}"></span></td>
                    <td style="width:55%; max-width: 55%;"><textarea rows="4" cols="90" th:text="${proComnt.promoBrdComntContent}" readonly></textarea></td>
                    <td><a th:href="@{/promotion/genComntDelete/{Id}(Id=${proComnt.promoBrdComntId},promoBrdPostId=${proComnt.promoBrdPostId})}"><button>X</button></a></td>
                    <td><span th:text="${proComnt.promoBrdComntDate}"></span></td>
                </tr>

                <tr><!--댓글 작성 부분-->
                    <form th:action="@{/promotion/genComntSave}" method="post"> <!-- 댓글 작성하는 row -->
                        <td><input placeholder="유저넘버를 입력하세요" name="userNum"></td><!--닉네임은 자동으로 들어가야 될 거 같은데. 로그인 했다면 그 로그인 데이터를 가자고 유저정보(유저닉)가져옴.-->

                        <input type="hidden" name="promoBrdPostId" th:value="${promotion.promoBrdPostId}">

                        <td><textarea class="form-control" rows="4" cols="100" style="width:100%; max-width: 100%;" name="promoBrdComntContent" placeholder="내용을 입력하세요."></textarea></td><!--입력하는 공간은 딱 여기까지-->
                        <td><button type="submit">등록</button></td>
                        <td id="currentTime"><input type="hidden" name="promoBrdComntDate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}" readonly></td><!--입력 시간도 자동으로 들어가야 될 거 같음.-->
                    </form>
                    <script>
                        const localDateTimeString = document.getElementById('currentTime').querySelector('input').value;
                        const localDateTime = new Date(localDateTimeString.replace('T', ' ').replace(/-/g, '/'));
                        document.getElementById('currentTime').querySelector('input').valueAsDate = localDateTime;
                    </script>
                </tr>
            </table>
        </div><!--댓글 리스트-->
    </div>
</div><!--댓글-->
</html>
