<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

        <div class="promoWrite"><!-- 글쓰기 버튼 -->

        </div>


    <!-- 여기서 부터 홍보 카드가 나타난다. 데이터 받아서 한 페이지당 8개의 카드가 나타나게 페이징처리. -->

    <div id="result">
        <div class="cardContainer" style="display: flex; flex-wrap: wrap;">
            <div th:each="promotion : ${promotions}" class="cardBox" style="flex: 0 0 300px; margin: 10px; text-decoration:none; color: #000000;">
                <div class="card" style="width: 100%; height: 100%; border: 1px solid;">
                    <!-- 이미지 표시 -->
                    <img th:src="${promotion.promoBrdMainImg}" class="card-img-top img-fluid" alt="홍보 이미지" style="object-fit: cover; object-position: top; width: 100%; height: 200px;">
                    <!-- 카드 내용을 표시하는 부분 -->
                    <div class="card-body">
                        <h5 class="card-title" th:text="${promotion.promoBrdTitle}"></h5>
                        <div class="card-text">
                            <p th:if="${promotion.promoBrdCategory != 0}" class="card-EventEndDate" th:text="'이벤트 종료일: ' + ${promotion.promoBrdEventEndDate}"></p>
                            <p class="card-BusinessName" th:text="'상호명: ' + ${promotion.promoBrdBusinessName}"></p>
                            <p th:if="${promotion.promoBrdCategory != 0}" class="card-Participants" th:text="'참여 인원: ' + ${promotion.promoBrdApplyParticipants} + '/' + ${promotion.promoBrdMaxParticipants}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="promoPaging"> <!-- 페이징 처리 -->

        </div>
        <div class="promoWrite"> <!-- 글쓰기 버튼 -->

        </div>
    </div>
    <div>
        <div> <!-- 검색 제목 + 내용 -->

        </div>
        <div> <!-- 검색 텍스트 입력창 -->

        </div>
        <div> <!-- 검색 버튼 -->

        </div>
    </div>
    <script>
        function updateData() {
var selectedDistrict = $("#promoBrdRegion").val();
var selectedCategory = $("#promoBrdCategory").val();

$.ajax({
type: "GET",
url: "/updatePromotion",
async: true,
data: {
    promoBrdRegion: selectedDistrict,
    promoBrdCategory: selectedCategory
},
contentType : "application/json",
success: function (data, status, xhr) {
    $("#result").html(data);
},
error: function (xhr, status, error) {
    console.error("Error while fetching data: ", error);
}
});
}

    </script>

</html>
